body{
    display: grid;
    grid-template-columns: auto 400px 400px auto;
    grid-template-areas:
    'header header header header'
    '. table buttons .'
    'footer footer footer footer';
    grid-gap: 10px;
    padding: 10px;
}

footer{
    grid-area: footer;
}

header{
    grid-area: header;
}

h1{
    text-shadow: 2px 2px 5px red;
    text-align: center;
}


.container_game {
    height: 400px;
    grid-area: table;
}


.new_game{
    grid-area: NG;
    font-size: 35px;
}

.choice{
    font-size: 35px;
}


.container_menu{
    height: 400px;
    grid-area: buttons;
    display: inline-grid;
    grid-template-colums: auto auto auto;
    grid-gap: 3px;
    grid-template-areas:
    'NG NG NG'
    'ch  ch  ch'
    'ch  ch  ch '
    'ch  ch  ch '
    'ch  ch  ch';
}

.cell {
    border:1px;
    border-style:solid;
    border-color: #aaaaaa;
    float:left;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    font-size: 30px;
    width: 10.5%;
    height: 10.5%;
}

.selectedCell {
    border-color: blue;
}

@media screen and (max-width: 840px) {
    body{
         display: grid;
        grid-template-columns: auto 400px auto;
        grid-template-areas:
        'header header header'
        '. table .'
        '. buttons .'
        'footer footer footer';
        grid-gap: 5px;
        padding: 5px;
    }
}

.odd_square {
    background-color: #eeeeee;
}